<html>

<head>
	<title>My Preferences</title>
</head>

<body>

	<p>Please enter your preferences</p>
	

	<form action="show_results">
		
		City: <input type="text" name="specified_city">
		<br>

		Family Activities: <%=check_box("preferences", "categories", {:multiple => true}, "family activities", nil)%>
		<br>
		Museums: <%=check_box("preferences", "categories", {:multiple => true}, "museums", nil)%>
		<br>
		Rice: <%=check_box("preferences", "categories", {:multiple => true}, "rice", nil)%>
		<br>
		Action: <%=check_box("preferences", "categories", {:multiple => true}, "action", nil)%>
		<br>
		Adult Activities: <%=check_box("preferences", "categories", {:multiple => true}, "adult activities", nil)%>
		<br>
		Nudist: <%=check_box("preferences", "categories", {:multiple => true}, "nudist", nil)%>
		<br>
		Exercise: <%=check_box("preferences", "categories", {:multiple => true}, "exercise", nil)%>
		<br>
		Water Activities: <%=check_box("preferences", "categories", {:multiple => true}, "water activities", nil)%>
		<br>
		Rafting/Kayaking: <%=check_box("preferences", "categories", {:multiple => true}, "rafting/kayaking", nil)%>
		<br>
		Climbing: <%=check_box("preferences", "categories", {:multiple => true}, "climbing", nil)%>
		<br>
		Boating: <%=check_box("preferences", "categories", {:multiple => true}, "boating", nil)%>
		<br>
		Aquariums: <%=check_box("preferences", "categories", {:multiple => true}, "fish", nil)%>
		<br>
		Nature: <%=check_box("preferences", "categories", {:multiple => true}, "nature", nil)%>
		<br>
		Golf: <%=check_box("preferences", "categories", {:multiple => true}, "golf", nil)%>
		<br>
		Beaches: <%=check_box("preferences", "categories", {:multiple => true}, "beaches", nil)%>
		<br>
		Recreational Marijuana: <%=check_box("preferences", "categories", {:multiple => true}, "recreational marijuana", nil)%>
		<br>
		Wedding: <%=check_box("preferences", "categories", {:multiple => true}, "wedding", nil)%>
		<br>
		Amusement Parks: <%=check_box("preferences", "categories", {:multiple => true}, "amusement parks", nil)%>
		<br>
		Winter Activities: <%=check_box("preferences", "categories", {:multiple => true}, "winter activies", nil)%>
		<br>
		Skiing: <%=check_box("preferences", "categories", {:multiple => true}, "skiing", nil)%>
		<br>
		Shooting: <%=check_box("preferences", "categories", {:multiple => true}, "shooting", nil)%>
		<br>
		Airsoft: <%=check_box("preferences", "categories", {:multiple => true}, "airsoft", nil)%>
		<br>
		Archery: <%=check_box("preferences", "categories", {:multiple => true}, "archery", nil)%>
		<br>
		Scuba Diving: <%=check_box("preferences", "categories", {:multiple => true}, "scuba diving", nil)%>
		<br>
		Biking: <%=check_box("preferences", "categories", {:multiple => true}, "biking", nil)%>
		<br>
		Hiking: <%=check_box("preferences", "categories", {:multiple => true}, "hiking", nil)%>
		<br>
		Professional Sports: <%=check_box("preferences", "categories", {:multiple => true}, "professional sports", nil)%>
		<br>
		Parasailing: <%=check_box("preferences", "categories", {:multiple => true}, "parasailing", nil)%>
		<br>


 		
<!--
		<select name="p1">
		  <option value="null"></option>
		  <option value="museums">Museums</option>
		  <option value="golf">Golf</option>
		  <option value="bicyclepaths">Biking</option>
		  <option value="fishing">Fishing</option>
		</select>
		<br>
		<select name="p2">
	      <option value="null"></option>
		  <option value="museums">Museums</option>
		  <option value="golf">Golf</option>
		  <option value="bicyclepaths">Biking</option>
		  <option value="fishing">Fishing</option>
		</select>
		<br>
		<select name="p3">
		  <option value="null"></option>
		  <option value="museums">Museums</option>
		  <option value="golf">Golf</option>
		  <option value="bicyclepaths">Biking</option>
		  <option value="fishing">Fishing</option>
		</select>
		-->
		<br>
		<button type="submit" action="show_results">Submit</button>

	</form>

</body>

</html>